@font-face {
	font-family: 'Helvetica Neue';
	src: url(../../assets/fonts/HelveticaNeue-BoldExt.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNeue-BoldExt.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}